@{ 
    ViewBag.Title = "Home Page";
}
    <h2>The World</h2>
    <p>This will be a fun website soon!</p>

    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </form>
    </div>
    
    <div class="col-md-6">
        <h2>The Map</h2>
    </div>